body {
    background: rgb(153, 153, 247);
    color: white;
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}

p {
    line-height: 1.6;
}

article {
    border-bottom: 1px solid #c5c5c5;
    margin-top: 1rem;
    padding-top: 1rem;
    
}